@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap");

body{
  background: rgba(22, 26, 35, 1);
  height:100vh;
  margin:0px;
}

.img{
  background-image: url("Team Working.svg");
  width:95%;
  height: 100%;
  background-size: 45vmax;
  background-position: right bottom;
  background-repeat: no-repeat;
  position:static;
}

.logo{
  width: 95%;
  height:90%;
  position:absolute;
  background-image: url("Flux Logo.svg");
  top:10%;
  left:5%;
  background-repeat: no-repeat;
  background-size: 10vmax;
}

.HEY{
  width:80%;
  padding-left: 10%;
  height:90%;
  position:absolute;
  top:10px;
  margin: 0;
  text-align: center;
}

.HEY h1{
  font-family:Heart Warming;
  color: rgba(154, 209, 255, 1);
  font-size: 7vmax;
  margin-bottom:2%;
}

.HEY h2{
  margin-top: 0;
  font-family: Montserrat;
  color: white;
  font-size: 4vmax;
  margin-bottom: 0;
}

.HEY h2 span{
  color:rgba(154, 209,255,1);
}

.HEY p{
  font-family: Montserrat;
  color:rgba(190, 200, 213, 1);
}

.btnTrans{
  border-radius: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.1vmax;
  text-decoration: none;
  background: rgba(154, 209, 255, 1);
  align-items: center;
  text-align: center;
  color:rgba(22, 26, 35, 1);
  width:20%;
  padding-top:15px;
  margin: 0 auto;
  padding-bottom: 15px;
  font-weight: bold;
  margin-bottom:5%;
  
}

.HEY h5{
  color:rgba(190, 200, 213, 1);
  font-family: Montserrat;
}

.parent {
  width:40%;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }

@media screen and (max-width: 1000px) {
      .HEY p{
        font-size: 50px!important;
      }
      .HEY h1{
        font-size: 250px!important;
      }
      
      .HEY h5{
        font-size: 35px!important;
        font-weight: lighter;
      }
      
      .parent{
        width:100%;
      }
      
      img{
        width:100px;
      }
      
      .btnTrans{
        font-size: 30px!important;
        width:50%;
      }
      
      .logo{
        top:4%;
        background-size: 15vmax;
      }

   }